<div class="container">
	<div class="row">
		<h1>New Entry</h1> 

<h3><span class="redtext">NOTE: </span>If new picture, add picture to list first. Do not add title or question yet.</h3>

		<%= form_for(@entry, html: { multipart: true }) do |f| %>

			<div class="well">

			  <%= render 'form' %>

			  <div class="field">
			    <%= f.label :title %><br>
			    <%= f.text_field :title, placeholder: 'New Title' %><br><br>
			  </div>

			  <div class="field">
			    <%= f.label :picture_id %><br>
    			<%= collection_select(:entry, :picture_id, Picture.all, :id, :link, {prompt: true}) %><br><br>
			  </div>

			  <div class="field">
			    <%= f.label :question %><br>
			    <%= f.text_field :question, placeholder: 'New Question' %><br><br>
			  </div>

			  <br>
			  <div class="actions">
			    <%= f.submit class: "btn btn-success" %>
			  </div>
			</div>
		<% end %>
	</div>
</div>