New Image

<%= form_for(@image, html: { multipart: true }) do |f| %>

	<div class="well">

		<div class="field">
			<%= f.label :name %>:
			<%= f.text_field :name, size: 100 %>
		</div><br>


		<div class="picture">
		<%= f.file_field :link, accept: 'image/jpeg,image/gif,image/png,image/bmp' %>
		</div><br>

		<div class="actions">
			<%= f.submit class: "btn btn-success" %>
		</div>

	</div>

<% end %>