<div class="container">
	<div class="row">
		<h1><%= @stack.title %></h1>
		<p>
			<% @cards.each do |card| %>
				Position: <%= card.sequence %> <br>
				<%= card.entry.title %> <br>
				<%= card.entry.question %> <br>
				<%= image_tag(card.entry.picture.link, height: 200) if card.entry.picture %> <br><br>
			<% end %>
		</p>
	</div>

	<div>

	</div>
</div>