Show Entry 

<h3><%= @entry.title %></h3>

<%= image_tag(@entry.image, size: '150') %>

<p><strong>Question:</strong> <%= @entry.question %> </p>


	<%= link_to "Yes", vote_stack_entry_path(@stack, @entry, entry_show_time: @entry_show_time, response: true), method: :post %>
	<%= link_to "No", vote_stack_entry_path(@stack, @entry, entry_show_time: @entry_show_time, response: false), method: :post %>
