<!DOCTYPE html>
<html>
<head>
  <title>TwoCents</title>
	<%= favicon_link_tag '/favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

</head>
<body>

<%= render 'layouts/navigation' %> 
  <div class="pagepadding">
    <%= yield %>
  </div>
<%= render 'layouts/footer' %>

</body>
</html>
